@import "tailwindcss";

html {
    scrollbar-gutter: stable;
}



@media (max-width: 768px) {
    * {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    *::-webkit-scrollbar {
        display: none;
    }
}
